body
{
	background-color: #228734
}

#Pad
{
	
}
#Palette
{
	background-color:white;
	position:absolute;
	left:1000px;
	top:100px;
}
#Player
{
	background-color:white;
	position:absolute;
	left:700px;
	top:500px;
}
#Picker
{
	background-color:gray;
	position:absolute;
	left:100px;
	top:700px;
}

.panel
{
	float:left;
	background-color:blue;
	outline:1px solid black;
	width:50px;
	height:50px;
}
.pixel
{
	float:left;
	background-color:transparent;
	outline:1px solid black;
}
.paintBlob
{
	float:left;
	outline:1px solid black;
}
.playerPixel
{
	float:left;
}
